<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<main role="main">
            <div class="container-fluid p-4 mt-2">
                <div class="container">
                    <div class="row mb-3">

                        <div class="col-md-2">
                            <a href="#" class="btn btn-success">Quick Booking</a>
                        </div>

                        <div class="col-md-2" sec:authorize="isAuthenticated()">
                            <a href="#" class="btn btn-outline-success">Book Specific Room</a>
                        </div>

                    </div>
                    <form th:action="@{/room-list/date}" method="get">
                                <div class="row mb-5 mt-2">
                                            <div class="col-md-10">
                                                <input type="date"
                                                       th:value="${getDate != null} ? ${getDate} : ${date}"
                                                       name="date"  id="dateInput"
                                                       class="form-control" >
                                            </div>
                                            <div class="col-md-2">
                                                <input type="submit" value="Search" class="btn btn-primary">
                                            </div>
                                </div>
                    </form>

                    <div class="row">
                        <div class="col-md-4" th:each="room : ${rooms}">
                            <div class="card mb-3" style="width: 18rem">
                                <img src="https://images.unsplash.com/photo-1631049307264-da0ec9d70304?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="200" height="150" class="card-img-top" alt="">
                                <div class="card-body">
                                    <p class="lead card-title"  style="font-weight: bold" th:text="${room.name}"></p>
                                    <p class="lead card-text" style="font-size: medium" th:text="${'Room Section : '+room.section}"></p>
                                    <div sec:authorize="!isAuthenticated()">
                                    <a class="btn btn-primary" th:href="@{'/auth/register-room?name='+${room.name}+'&date='+${getDate}}"
                                            th:unless="${roomStatusMap[room.name] == 'Booked'}" > Reserve</a>
                                    </div>
                                    <div sec:authorize="isAuthenticated()">
                                        <a class="btn btn-primary" th:href="@{'/auth/register-room-auth?name='+${room.name}+'&date='+${getDate}+'&email='+ ${#authentication.name}}"
                                           th:unless="${roomStatusMap[room.name] == 'Booked'}" > Reserve</a>
                                    </div>
                                    <span
                                          th:unless="${roomStatusMap[room.name] == 'Available'}"
                                     style="color: red; font-size: large">Unavailable</span>
                                </div>
                            </div>
                        </div>
                    </div>

               </div>
            </div>
</main>
</body>
</html>